ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-gap: 7px;
    gap: 7px;
    padding: 0;

}

.movie {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.movie:hover {
    transition: 1s;
    transform: scale(1.5)
}

.movie h2 {
    font-size: .9em;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}



.movie img {
    width: 100px;
    border: .5vw solid rgba(89, 4, 158, 0.515);
    box-shadow: 5px 5px 5px rgb(149, 52, 245);;
}



